@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeueRegular.woff');
}
@font-face {
	font-family: 'Solomon';
	src: url('../fonts/SolomonSansBlack.woff');
}
@font-face {
	font-family: 'Glyph';
	src: url('../fonts/glyphicons-halflings-regular.woff');
}
@font-face {
	font-family: 'Sans';
	src: url('../fonts/PTSansNarrow.woff');
}
/*HEADER*/
.header {
	position: relative;
	background-color: grey;
	background-image: url('../img/hero1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: 'Bebas';
	color: white;
	margin-bottom: 68px;
}
.header hr {
	width: 213px;
    height: 2px;
    background-color: white;
    margin-bottom: 29px;
}
.brand {
	position: absolute;
    top: 12px;
    left: 72px;
    
}
.brand__img {
	text-decoration: none;
    font-size: 34px;
    color: white;
}
.brand__text {
    opacity: 0;
}
.brand::before {
	content: "";
    position: absolute;
    width: 53px;
    height: 2px;
    background: white;
    top: 100%;
    display: block;
    transition: all 0.4s;
    transform: translateY(40px);
    opacity: 0;
}
.brand:hover::before {
	transform: translateY(0);
	opacity: 0.9;
}
.nav {
	display: flex;
    justify-content: flex-end;
    height: 55px;
    align-items: center;
    margin-bottom: 103px;
}
.nav__item {
	margin-right: 39px;
    font-size: 31px;
    text-decoration: none;
    color: black;
}
.nav__item::before {
	content: attr(data-hover);
	position: absolute;
	color: #ffffff;
	transition: all 0.3s;
}
.nav__item:hover::before {
	transform: scale(0.95);
	opacity: 0;
}
.title__hero {
	font-family: 'Solomon';
    font-size: 63px;
    line-height: 1.17em;
    text-shadow: 3px 3px 3px #787463;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.title__subhero {
	font-family: 'Solomon';
    text-shadow: 3px 3px 3px #787463;
    font-size: 51px;
    letter-spacing: 1.3px;
    margin-bottom: 146px;
}
.btn {
    font-family: 'Bebas';
    font-size: 44px;
    color: white;
    background-color: #00CBB0;
}
.btn-header {
	margin-left: 507px;
	margin-bottom: 136px;
	text-align: left;
	border-radius: 6px;
    border: 1px;
    width: 350px;
    height: 67px;
    padding-left: 22px;
    transition: all 0.4s;
}
.btn:hover {
	background-color: #008FBD;
    color: black;
	opacity: 0.9;	
}
.btn-header::after {
	
}
/*HEADER END*/

/*OPTIONS*/

.options {
	font-family: 'Bebas';
}
.options__title {
    font-size: 56px;
    margin-left: 166px;
    letter-spacing: 0.009em;
    margin-bottom: 70px;
}
.options__content {
    display: flex;
    justify-content: space-around;
	margin-bottom: 97px;
}

.option {
	width: 270px;
}
.option__img {
	display: block;
    width: 157px;
    margin: 0 auto;
}
.option__text {
	font-size: 20px;
    line-height: 1.9em;
    word-spacing: 11px;
    text-align: justify;
}
.btn_option {
	padding-left: 40px;
    padding-right: 40px;
    width: 270px;
    border-radius: 25px;
    transition: all 0.4s;
}
/*OPTIONS END*/

/*SLIDER*/

.slider {
    
}
.slider__title {
	text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas';
    font-size: 57px;
    margin-bottom: 53px;

}
.slider__content {
    width: 600px;
    height: 350px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;   
}
.slider__button {
    font-size: 18px;
    font-family: sans-serif;
    display: inline-block;
    background-color: #0094b8;
    border-radius: 10px;
    border: 1px solid #0094b8;
    padding: 10px;
    color: #fff;
    transition: all .3s ease-out;
}
.slider__button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #0094b8;
}
.slider__radio {
    display: none;
}
.slider__image {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 100%;
    background-color: grey;
    background-size: cover;
    background-position: 50% 50%;
    left: 100%;
    transition-duration: 0s;
    transition-delay: 0.7s;
    z-index: 10;
}
.slider__image_one {
    background-image: url('../img/1.jpeg');
} 
.slider__image_two {
    background-image: url('../img/2.jpeg');
}
.slider__image_three {
    background-image: url('../img/3.jpeg');
}
input[id^='slider']:checked + .slider__image {
    left: 0;
    transition: left .65s ease-out;
    z-index: 100;
}

/*SLIDER END*/

/*PREVIEW*/
.previews {


}
.previews__title {
	font-size: 58px;
    font-family: 'Bebas';
    text-align: center;
    margin-bottom: 85px;
}
.previews__content {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 76px;
}
.previews__sample {
    position: relative;
    width: 286px;
    height: 286px;
    overflow: hidden;
    text-align: center;
    cursor: default;
}
.previews__mask {
    width: 286px;
    height: 286px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(219, 127,8, 0.7);
    transition: all 0.4s ease-in-out;
}
.previews__header {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 30px 0 0 0;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.previews__text {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 14px;
    color: #000;
    padding: 40px 20px 20px;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.2s linear;       
}
.previews__img {
    transition: all 0.2s linear;

}
.previews__link {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    font-size: 13px;
    opacity: 0;
    transition: all 0.2s ease-in-out
}
.previews__link:hover {
    box-shadow: 0 0 5px #000;
}
.btn_previews {
	display: block;
    width: 555px;
    margin: 0 auto;
    height: 70px;
    font-size: 55px;
    border-radius: 14px;
    margin-bottom: 30px;
    transition: all 0.4s;
}
.previews__sample:hover .previews__img {
    transform: scale(1.1);
}
.previews__sample:hover .previews__mask {
    opacity: 1;
}
.previews__sample:hover .previews__header,
.previews__sample:hover .previews__text,
.previews__sample:hover .previews__link {
    opacity: 1;
    transform: translateY(0px);
}
.previews__sample:hover .previews__text {
    transition-delay: 0.2s;
}
.previews__sample:hover .previews__link {
    transition-delay: 0.2s;
}
/*PREVIEW END*/

/*COMMENTS*/

.comments {

}
.comments__group {
    display: flex;
    flex-direction: column;
    max-height: 510px;
    flex-wrap: wrap;
    align-items: center;
}
.comment {
	position: relative;
	margin-bottom: 10px;
}
.comment_img {
	position: absolute;
    left: 20px;
    top: 25px;
}
.comment__block {
	margin-left: 100px;
    max-width: 350px;
}
.comment__title {
	font-weight: bold;
    margin-bottom: 5px;
}
.comment__text {

}
.stats {
	color: #669ec4;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}
.stats__like {
	display: inline-block;
    position: relative;
}
.stats__like::before {
	content: "\2665";
    font-size: 20px;
    position: absolute;
    left: 118px;
}
.stats__count {
	display: inline-block;
	margin-left: 30px;
}

/*COMMENTS END*/

/*FOOTER*/
.footer {
	
	background-color: #a1a1a1;
}
.contacts__block {
	margin-bottom: 10px;
	text-align: center;
}
.footer__content {
	width: 300px;
    margin: 0 auto;
	text-align: justify;
}
/*FOOTER END*/